*{
    margin: 0;
    padding: 0;
    font-family: sans-serif ;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url("https://scontent-ssn1-1.xx.fbcdn.net/v/t1.6435-9/166941042_2132411466901022_5700862258380308867_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=730e14&_nc_ohc=AELRCNHzZNQAX_Alts4&_nc_ht=scontent-ssn1-1.xx&oh=c166304622a21f9a5f714bedd8eefe0b&oe=608C03DD");
    background-size: cover;
    background-position: center;
}
.navbar{
    width : 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
    background-color: transparent;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    margin-top: 10px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background : #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.4s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.main{
    width: 50%;
    transform: translate(10%, -65%);
    color: #fff;
    position: absolute;
}
.main a{
    text-decoration: none;
    color: white;
}
.content{
    width:100%;
    position: absolute;
    top:50%;
    transform: translateY(-170%);
    text-align: center;
    color: #fff;
}
.content p{
    margin: 5px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    color: #000000;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #009688;
    height: 100%;
    width:0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
.content button a{
    text-decoration: none;
    color: black;
}
.article{
    width: 80%;
    margin: auto;
    margin-top: 70px;
    border: 2px solid white;
    text-align: left;
    padding-left: 100px;
    color: black;
    background-color: white;

}